{% load static %}
<div class="single-sidebar-widget user-info-widget">
    <img src="{% static 'img/blog/user-info.png' %}" alt="" />
    <a href="#"><h4>Milad Sadeghi DM</h4></a>
    <p>Open Source Software Developer</p>
    <ul class="social-links">
        <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-github"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-behance"></i></a>
        </li>
    </ul>
    <p>
        I am an enthusiastic open source software developer with a passion for
        creating beautiful and functional software.
    </p>
</div>
